@use "./_variables.scss" as *;

// ~ 359px (mobile)
@mixin mobile {
  @media (max-width: #{$breakpoint-sm - 1}) {
    @content;
  }
}

// ~ 673px (tablet)
@mixin tablet {
  @media (max-width: #{$breakpoint-md - 1}) {
    @content;
  }
}

// ~ 1023px (desktop)
@mixin desktop {
  @media (max-width: #{$breakpoint-lg - 1}) {
    @content;
  }
}

// ~ 그 이상 (large desktop은 max-width 필요 없다면 생략 가능)
@mixin large-desktop {
  @media (max-width: #{$breakpoint-xlg - 1}) {
    @content;
  }
}

// 타이틀 텍스트 믹스인
@mixin title-24-700 {
  font-size: 24px;
  font-weight: 700;
}

@mixin title-20-700 {
  font-size: 20px;
  font-weight: 700;
}
