// breakpoint
$breakpoint-sm: 360px;
$breakpoint-md: 674px;
$breakpoint-lg: 1024px;
$breakpoint-xlg: 1240px;

// color
$primary-color-skyblue: #91c8e4;
$primary-color-blue: #4682A9;
$border-color: #EBEDF0;