// breakpoint
$breakpoint-sm: 360px;
$breakpoint-md: 674px;
$breakpoint-lg: 1024px;
$breakpoint-xlg: 1240px;

// color
$primary-color-skyblue: #80C4E9;
$primary-color-blue: #4fc3f7;
$border-color: #EBEDF0;