.education-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  .main-title {
    margin-bottom: 1.5rem;
    width: 20%;

    p {
      line-height: 1.3;
      font-size: 1.8rem;
      font-weight: 700;
      color: $primary-color-blue;
    }
  }

  .education-list {
    .education-item {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #ddd;
      display: flex;
      flex-direction: row;
      word-wrap: break-word;

      .education-header {
        word-break: keep-all;
        width: 20%;
        font-size: 1.2rem;
        font-weight: 600;
        color: #666;
        margin-bottom: 1.2rem;
      }

      .education-description {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 80%;

        .title {
          font-size: 1.2rem;
          font-weight: 600;
          color: #444;
        }

        .summary {
          margin-top: 1rem;
          font-size: 1rem;
          color: #666;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@include tablet {
  .education-container {
    padding: 1.5rem;

    .main-title {
      width: 100%;
      margin-bottom: 1rem;

      p {
        font-size: 1.5rem;
      }
    }

    .education-list {
      .education-item {
        flex-direction: column;

        .education-header {
          width: 100%;
          font-size: 1rem;
        }

        .education-description {
          margin-left: 0;
          width: 100%;

          .title {
            font-size: 1rem;
          }

          .summary {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
