// HomeContent.module.scss
.container {
  padding: 44px 44px;
  font-family: "Space Grotesk", sans-serif;
  color: $primary-color-skyblue;

  .profile {
    display: flex;
    margin: 12px;

    .wrap-image {
      width: 150px;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 28px 0 32px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 18px;
    font-optical-sizing: auto;
    font-style: normal;
  }
}