// HomeContent.module.scss
.container {
  padding: 44px 0;
  font-family: "Space Grotesk", sans-serif;

  .title {
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 28px 0 32px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 18px;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@include tablet {
  .container {
    padding: 64px 0;

    &-title {
      font-size: 24px;
      padding: 32px 0 36px;
    }

    &-description {
      gap: 42px;
    }
  }
}